<h1>dashboard works!</h1>
<div class="card">
    <div class="card-head">Lorem ipsum dolor sit amet.</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus sed molestias vel reprehenderit quod necessitatibus ab velit assumenda veniam.
    </div>
</div>

<div class="card">
    <div class="card-head">Lorem ipsum dolor sit amet.</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus sed molestias vel reprehenderit quod necessitatibus ab velit assumenda veniam.
    </div>
</div>